.form_hidden {
  display: flex;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}
.buttonForForm_hidden {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 7px;
  border-radius: 0%;
  background-color: beige;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  text-align: center;
}
form {
  display: flex;
  max-width: 800px;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 1em;
  align-items: start;
}
.add-label {
}
.imput-checkbox {
  display: flex;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}
.label-checkbox {
  display: inline-block;
}
.par-checkbox {
  display: inline-block;
  position: relative;
  padding: 8px;
  padding-left: 3.6em;
}
.par-checkbox::before {
  content: '';
  display: block;
  width: 3.5em;
  height: 1.6em;
  position: absolute;
  left: 0;
  top: 0;
  background-color: antiquewhite;
  border-radius: 18px;
}
.par-checkbox::after {
  content: '';
  display: block;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: 1px;
  top: 1px;
  background-color: rgb(15, 236, 121);
  border-radius: 15px;
}
.imput-checkbox:checked + .par-checkbox::before {
  background-color: rgb(113, 233, 9);
}
.imput-checkbox:checked + .par-checkbox::after {
  background-color: rgb(15, 236, 121);
  left: 30px;
}
.imput-checkbox:checked {
}
