.imput-checkbox {
    display: flex;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
}
.label-checkbox {
    display: inline-block;
}
.par-checkbox {
    display: inline-block;
    position: relative;
    padding: 8px;
    padding-left: 3.6em;
}
.par-checkbox::before {
    content: '';
    display: block;
    width: 3.5em;
    height: 1.6em;
    position: absolute;
    left: 0;
    top: 0;
    background-color: antiquewhite;
    border-radius: 18px;
}
.par-checkbox::after {
    content: '';
    display: block;
    width: 1.50em;
    height: 1.50em;
    position: absolute;
    left: 1px;
    top: 1px;
    background-color: rgb(8, 236, 65);
    border-radius: 15px;
}
.imput-checkbox:checked+.par-checkbox::before {
    background-color: rgb(8, 236, 65);
}
.imput-checkbox:checked+.par-checkbox::after {
    background-color: rgb(255, 0, 0);
    left: 30px;
}
.imput-checkbox:checked {
    
}