.item-par {
  font-weight: normal;
  color: #333;
  font-size: 0.7em;
  font-family: calibri;
}
.item-span {
  color: #333;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 4px;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
}

.item-span-green {
  font-size: 0.7em;
  font-weight: 100;
  color: chartreuse;
}
.item-span-red {
  font-size: 0.7em;
  font-weight: 100;
  color: rgb(232, 17, 9);
}
.item-button {
  width: fit-content;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.2em 0.3em;
  font-size: 0.7em;
  font-weight: 500;
  font-family: inherit;
  background-color: #10e737;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
.item-button:hover {
  border-color: #646cff;
}

.item-button:focus,
.item-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.item-button:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
  transition: none;
  cursor: auto;
}

.item-button::before {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../../assets/svg/conversation-svgrepo-com.svg);
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 200px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 2px;
  border: 1px solid #eee;
  overflow: hidden;
  background: #fff;
}
.item-span-container {
  display: flex;
  width: auto;
  padding: 3px;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  .item-button {
    background-color: #10e737;
    :disabled {
      background-color: dimgrey;
      color: linen;
      opacity: 1;
      transition: none;
    }
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

/*------------------------------------------------------*/

.product-card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  position: relative;
  margin: 20px;
  cursor: pointer;
}

.item-front,
.item-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.item-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.item-container.flipped .item-front {
  transform: rotateY(-180deg);
}

.item-container.flipped .item-back {
  transform: rotateY(0deg);
}
