/*------------------normalize----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*------------------styles--------------------------------*/
:root {
  max-width: 480px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondery-white-color: #f5f4fa;
  --accent-color: #2196f3;
  --accent-background-color: #2f303a;
  --border-color: #eeeeee;
  --secondery-border-color: #ececec;
  --icons-border-color: #afb1b8;
}
@media screen and (min-width: 720px) {
  :root {
    max-width: 720px;
  }
}
@media screen and (min-width: 1280px) {
  :root {
    max-width: 1280px;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/*-------------------------header----------------------------*/
.header-container {
  display: flex;
  width: 1280px;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background-color: var(--accent-background-color);
}
.telephone-container {
  display: flex;
  gap: 30px;
  font-size: medium;
  font-weight: 400;
  line-height: 1.2;
  margin-top: auto;
  margin-bottom: auto;
}
.telephone-container_par {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.telephone-container_list {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.telephone-container_item {
}
.logo {
  width: auto;
  height: auto;
}
.logo-img {
}

/*---------------------------footer-------------------------------*/

.footer {
  background-color: var(--accent-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
.footer .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  footer .container {
    min-width: 1200px;
    justify-content: start;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
}

.footer__logo--color-white {
  color: var(--primary-white-color);
}
/* 
.footer__item:not(:last-child) {
  margin-bottom: 9px;
} */

.social-container__item + .social-container__item {
  margin-top: 9px;
}

.footer__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__list,
  .footer__content {
    align-items: normal;
  }
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .social-container {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .social-container {
    align-items: unset;
    margin-left: 70px;
  }
}

.social-container__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-border-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer .social-links__link {
  background-color: rgba(255, 255, 255, 10%);
}
.footer .social-links__link:hover,
.footer .social-links__link:focus {
  background-color: var(--accent-color);
}
.footer .social-links__icon {
  fill: var(--primary-white-color);
}

.mailing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
}
@media screen and (min-width: 768px) {
  .mailing-container {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-container {
    align-items: flex-start;
    margin-top: 0;
    margin-left: auto;
  }
}

.mailing-container__text {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.mailing-container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  .mailing-container__form {
    flex-direction: row;
  }
}

.mailing-container__input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--accent-background-color);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 400px) {
  .mailing-container__input {
    width: 100%;
  }
}

/*--------------------------------utils-------------------------*/

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.centred {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.inline-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
